<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Open_api_key</key>
	<string>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</string>
</dict>
</plist>
